" https://stackoverflow.com/questions/31970413/escape-to-intellij-idea-shortcuts-from-ideavim

source ~/.vimrc
let mapleader = " "

" actions, use :actionlist [pattern]

" IDEA-actions
nnoremap <C-Q> :action VimPluginToggle<CR>
nnoremap <leader>ia :action GotoAction<CR>
nnoremap <C-S-V> :action PasteMultiple<CR>

" General vim-like actions
nnoremap <leader>o :action GotoClass<CR>
nnoremap <leader>e :action RecentFiles<CR>
nnoremap J :action GuiDesigner.ShrinkSelection<CR>
nnoremap K :action GuiDesigner.ExpandSelection<CR>
nnoremap <C-J> :action EditorDown<CR>
nnoremap <C-K> :action EditorUp<CR>
nnoremap <C-E> :action GotoNextError<CR>


" Refactorings
nnoremap <leader>ri :action Inline<CR>
nnoremap <leader>rr :action RenameElement<CR>
nnoremap <leader>rm :action Move<CR>
" Introduce
nnoremap <leader>iv :action IntroduceVariable<CR>
nnoremap <leader>ip :action IntroduceParameter<CR>
nnoremap <leader>if :action IntroduceField<CR>
nnoremap <leader>ic :action IntroduceConstant<CR>
" Extract
nnoremap <leader>xm :action ExtractMethod<CR>
nnoremap <leader>xi :action ExtractInterface<CR>
nnoremap <leader>xf :action ExtractFunction<CR>
