" https://stackoverflow.com/questions/31970413/escape-to-intellij-idea-shortcuts-from-ideavim

source ~/.vimrc
let mapleader = " "

" actions, use :actionlist [pattern]

" IDEA-actions
nnoremap <C-Q> :action VimPluginToggle<CR>
nnoremap <leader>ia :action GotoAction<CR>
nnoremap <C-S-V> :action PasteMultiple<CR>

" General vim-like actions
nnoremap <leader>o :action GotoClass<CR>
nnoremap <leader>e :action RecentFiles<CR>
nnoremap J :action GuiDesigner.ShrinkSelection<CR>
nnoremap K :action GuiDesigner.ExpandSelection<CR>
nnoremap <C-J> :action EditorDown<CR>
nnoremap <C-K> :action EditorUp<CR>


" Refactorings
nnoremap <leader>ri :action Inline<CR>
nnoremap <leader>rr :action RenameElement<CR>
nnoremap <leader>rm :action Move<CR>
" Introduce
nnoremap <leader>riv :action IntroduceVariable<CR>
nnoremap <leader>rip :action IntroduceParameter<CR>
nnoremap <leader>rif :action IntroduceField<CR>
nnoremap <leader>ric :action IntroduceConstant<CR>
" Extract
nnoremap <leader>rxm :action ExtractMethod<CR>
nnoremap <leader>rxi :action ExtractInterface<CR>
nnoremap <leader>rxf :action ExtractFunction<CR>

nnoremap <leader>rxf :action ExtractFunction<CR>


nnoremap <C-E> :action GotoNextError<CR>
