! To reload:
! $ xrdb -merge ~/.Xresources

#include ".Xcolors"

xft.dpi:          96
xft.rgb:          true
xft.antialias:    false
xft.hinting:      true

URxvt.font:           xft:monaco for powerline:size=10,style=regular

URxvt.iso14755:   false
*.scrollBar:      false
URxvt.depth:      32
